body {
    background-color: #212529;
}

.slider, .video-slider {
    display: flex;
    overflow: hidden;
}

.slider-image, .slider-video {
    min-width: 100%;
    transition: transform 0.5s ease;
}

.slider-image {
    width: 300px; /* Adjust as necessary */
    height: auto;
}

.video-slider video {
    width: 300px; /* Adjust as necessary */
    height: auto;
}

