body {
    background: url('h1.jpg') no-repeat center center fixed;
    background-size: cover;
    animation: backgroundMove 15s infinite linear;
}

@keyframes backgroundMove {
    0% { background-position: 0% 0%; }
    100% { background-position: 100% 100%; }
}

.name-effect {
    font-size: 3em;
    transform: skew(-10deg);
    text-shadow: 2px 2px 0 #000, 4px 4px 0 #007bff; /* Menambahkan efek 3D */
}

.sub-title {
    font-size: 1.5em; /* Ukuran lebih kecil dari nama */
    margin-top: 10px; /* Memberi jarak dari nama */
}

.contact-info {
    margin-top: 20px; /* Jarak antara kontak dan sub-title */
}


